# Flask configuration
FLASK_SECRET_KEY=your_super_secret_session_key_here

# MongoDB configuration
# Example: mongodb+srv://username:password@cluster.mongodb.net/database_name?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/database_name?retryWrites=true&w=majority
